:root{
	--bglight: #460c68;
	--bgdark: #210849;
	--text: #eeeeee;
	--text2: #333333;
	--highlight1: #c0a7f0;
	--highlight2: #9870e6;
	--highlight3: #7138de;
	--error: #ffaaaa;
	--success: #aaffaa;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-400.ttf");
}
@font-face {
  font-family: "Manrope";
  font-weight: 700;
  src: url("/fonts/Manrope-700.ttf");
}

@font-face {
  font-family: "PT Serif";
  src: url("/fonts/PTSerif-400.ttf");
}
@font-face {
  font-family: "PT Serif";
  font-weight: 700;
  src: url("/fonts/PTSerif-700.ttf");
}

@font-face{
	font-family: "TwemojiFlags";
	src: url("https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1/dist/TwemojiCountryFlags.woff2");
}

body{
	background: linear-gradient(-35deg,var(--bgdark) 0,var(--bglight) 100%);
	background-attachment: fixed;
	color: var(--text);
	font-family: "PT Serif";
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, input, button, .button-group label{
	font-family: "Manrope";
}

h1{
	text-align: center;
}

h1, h2{
	margin: 10px 0px;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}

a{
	color: var(--highlight1);
	text-decoration: none;
}

a:hover{
	color: var(--darkpurple1);
}

.centered{
	text-align: center;
}

input[type=file]{
	margin-left: 5px;
}

summary{
	font-weight: bold;
}

progress{
	margin-right: 10px;
	appearance: none;
	border-radius: 5px;
	border: 1px solid var(--highlight2);
	background: var(--highlight1);
}

progress::-webkit-progress-bar, progress::-moz-progress-bar{
	background: var(--highlight3);
}