.game-over{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--bglight);
	font-family: "Manrope";
	z-index: 999;
	padding: 20px;
	text-align: center;
	border-radius: 30px;
	font-size: 1.5em;
}

.game-over-text{
	font-size: 1.5em;
}