.button input{
	display: none;
}
.button input + label{
	background: var(--highlight1);
	border: 1px solid var(--highlight3);
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	font-size: 14px;
	color: var(--text2);
	font-family: "Manrope";
}
.button input:checked + label{
	background: var(--highlight2);
}
.button input:hover + label{
	background: var(--highlight3);
	color: var(--text);
}