.centered{
	margin-bottom: 10px;
}

.button-group{
	margin-left: 15px !important;
}

progress{
	width: 50%;
	height: 10px;
	margin-right: 10px;
	appearance: none;
	border-radius: 5px;
	border: 1px solid #a17be9;
	background: #c0a7f0;
}

progress::-webkit-progress-bar, progress::-moz-progress-bar{
	background: #a17be9;
}

#output, #error{
	display: none;
}

#pano-faq{
	max-width: 800px;
	margin: 0 auto;
}

#faq summary{
	font-weight: bold;
}

#download{
	height: 20px;
}

#summary{
	min-height: 30px;
}
#summary summary{
	text-align: center;
}

#pano-entry, #pano-action-buttons, #progress-bar{
	font-family: "Manrope";
}